<mat-card id="create">
  <div id="frame-title">
    <span>
      Create a opinion
    </span>
  </div>
  <div id="columns" >
    <div class="first-col">
      <mat-form-field class="example-full-width">
        <mat-label>Título</mat-label>
        <input [(ngModel)]="post.title" matInput required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Jogo</mat-label>
        <input [(ngModel)]="post.theme" matInput placeholder="Ex. DARK SOULS" required>
      </mat-form-field>
    </div>
    <div class="second-col">
      <mat-form-field class="long-text">
        <mat-label>E la vamos nós...</mat-label>
        <textarea [(ngModel)]="post.commentary" matInput rows="8" cols="100" maxlength="120" (input)="onInputChange()" required></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <button mat-raised-button color="primary" (click)="createOrUpdatePost()" routerLink="/feed">{{buttonName}}</button>
  </div>
</mat-card>
