#create {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1em;

  color: rebeccapurple;

}

#frame-title {
  margin: 1em;

  font-weight: lighter;
  font-size: 45px;
}


#columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  height: 25vh;

  /* Debug */
  /*border: 1px solid red;*/
}

.first-col {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 40vh;
  width: 40vw;
  margin: 1em;

  /*Debug*/
  /*border: 1px solid black;*/
}

.second-col {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  margin: 1em;

  /*Debug*/
  /*border: 1px solid gold;*/
}


.long-text {
  width: 25vw;
  height: 20vh;
}

.row {
  margin: 1em;

  /* Debug */
  /*border: 1px solid black;*/
}
