<div id="main" >
  <div class="f-col">
    <span class="main-span">
      Seja Bem-Vindo
    </span>
    <span class="sec-span">
      Crie sua conta e seja infeliz
    </span>
    <button routerLink="/user-login" mat-raised-button color="primary">
      Create an Account
    </button>

    <button routerLink="/user-create" mat-raised-button color="warn">
      Lets Discuss
    </button>
  </div>
  <div class="s-col">
    <img class="mario" src="../../../../assets/mario.png" alt="encanador do sexo">
  </div>

  <div class="floating-img">
    <img class="ncr" src="assets/nrc_ranger.png" alt="NRC Mofucker">
  </div>
</div>


