<div class="main">
  <div class="main-left-column">
    <!--  Titulo  -->
    <div class="main-left-column-text">
      <h1 class="main-left-column-h1">Welcome</h1>
      <span class="main-left-column-sub">Let's talk</span>
    </div>

    <!--  Botões  -->
    <div class="main-left-column-buttons">
      <button routerLink="/user-login" mat-raised-button color="primary">Create an Account</button>
      <button routerLink="/post-create" mat-raised-button color="warn">Lets Discuss</button>
    </div>

  </div>


  <div class="main-right-column">
    <img class="cover" src="https://m.media-amazon.com/images/M/MV5BYWNlZWUwYTItY2E5MS00YzQ3LWJkODgtYWNkMmZhYTY2YjExXkEyXkFqcGdeQXVyMTA0MTM5NjI2._V1_.jpg">
    <img class="cover" src="https://howlongtobeat.com/games/250px-Counter-Strike_Global_Offensive.jpg?width=250">
    <img class="cover" src="https://howlongtobeat.com/games/Dark_souls_3_cover_art.jpg">

    <img class="cover" src="https://howlongtobeat.com/games/TheElderScrollsVSkyrimLegendaryEdition.jpg?width=250">
    <img class="cover" src="https://howlongtobeat.com/games/27100_Red_Dead_Redemption_2.jpg?width=250">
    <img class="cover" src="https://howlongtobeat.com/games/Official_cover_art_for_Bioshock_Infinite.jpg?width=250">

    <img class="cover" src="https://howlongtobeat.com/games/108881_Resident_Evil_4.jpg?width=250">
    <img class="cover" src="https://howlongtobeat.com/games/Cyberpunk-2077-2.jpg?width=250">
    <img class="cover" src="https://howlongtobeat.com/games/256px-Half-Life_Cover_Art.jpg?width=250">

    <img class="cover" src="https://howlongtobeat.com/games/68151_Elden_Ring.jpg?width=250">
    <img class="cover" src="https://howlongtobeat.com/games/71960_Diablo_IV.jpg?width=250">
    <img class="cover" src="https://howlongtobeat.com/games/256px-Portal_standalonebox.jpg?width=250">
  </div>
</div>


