<div id="sign-in-frame">
  <div class="sign-in-frame-title">
    <span>
      Sign In
    </span>
  </div>
  <div class="sign-in-frame-field">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

    <div class="sign-in-frame-field">
      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

  <div class="sign-in-frame-field">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div class="sign-in-frame-button">
    <button mat-raised-button color="fill" routerLink="/erro">
      Sign In
    </button>
  </div>
</div>
