#sign-in-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /*border: 1px solid black;*/

  padding: 3em;

  height: fit-content;
  width: 40vw;
}

.sign-in-frame-title {
  color: rebeccapurple;
  font-weight: lighter;
  font-size: 32px;

  margin-bottom: 1em;
}

.sign-in-frame-field {
  margin: 0;
}

.sign-in-frame-button {
  width: 15vw;

  /*border: 1px solid black;*/

  display: flex;
  justify-content: space-around;
}
