<div class="main">
  <div class="main-left-column">
    <div class="main-left-column-text">
      <span class="main-left-column-h1">WELCOME</span>
      <span class="main-left-column-sub">Share your opinion about gaming</span>
    </div>
    <div class="main-left-column-buttons">
      <button routerLink="create" mat-raised-button color="primary">Write opinion</button>
    </div>
  </div>
  <div class="main-right-column">
    <img
      class="main-right-column-img"
      src="https://cdn1.epicgames.com/salesEvent/salesEvent/Daffodil_1P_Awareness_INT_Epic_1200x1600_1200x1600-356dd4965bde4c5dbd1000f9c97ac4b4" >
  </div>
</div>


