<div class="main">
  <div class="main-left-column">
    <div class="main-left-column-text">
      <h1 class="main-left-column-h1">Welcome</h1>
      <span class="main-left-column-sub">create, discuss and opine about anything in the gaming world 😎</span>
    </div>
    <div class="main-left-column-buttons">
      <button routerLink="create" mat-raised-button color="primary">Let's Discuss</button>
    </div>
  </div>
  <div class="main-right-column">
    <img class="main-right-column-img" src="https://cdn1.epicgames.com/salesEvent/salesEvent/Daffodil_1P_Awareness_INT_Epic_1200x1600_1200x1600-356dd4965bde4c5dbd1000f9c97ac4b4" >
  </div>
</div>


