<div class="main">
  <div class="main-left-column">
    <div class="main-left-column-text">
      <h1 class="main-left-column-h1">Welcome</h1>
      <span class="main-left-column-sub">create, discuss and opine about anything in the gaming world 😎</span>
    </div>
    <div class="main-left-column-buttons">
      <button routerLink="create" mat-raised-button color="primary">Let's Discuss</button>
    </div>
  </div>
  <div class="main-right-column">
    <img class="main-right-column-img" src="https://static.wikia.nocookie.net/dreamlogosandstations/images/5/53/Spyro.png/revision/latest?cb=20200615154505" >
  </div>
</div>


