.profile-component {
  display: flex;
  justify-content: space-between;

  width: 78vw;
}

.profile-component-card {
  /* debug */
  /*border: 1px solid black;*/
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);

  height: 80vh;
  width: 25vw;

  display: flex;
  flex-direction: column;
}

  .profile-component-userdata {
    height: 90%;
    margin: 1em;
  }

    .profile-component-userdata-img {
      border: 2px solid rebeccapurple;
      border-radius: 50%;

      height: 8em;
      width: 8em;

      margin-bottom: 1em;
    }

    .profile-component-userdata-fullname {
      font-size: xx-large;
      font-weight: bold;
      color: rebeccapurple;
    }

    .profile-component-userdata-username {
      margin-top: 0.5em;
      font-size: large;
      font-weight: lighter;
    }

    .profile-component-userdata-favorite {
      margin-top: 1em;
      font-size: large;
      font-weight: normal;
    }

  .profile-data-bottom {
    margin: 1em;
  }

.profile-component-posts {
  /* debug */
  /*border: 1px solid black;*/
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);

  width: 50vw;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-component-posts-title {
  margin: 1em;
  font-size: xx-large;

  border-bottom: 5px solid rebeccapurple;
}

.profile-component-post {
  /* debug */
  /*border: 1px solid black;*/
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);

  height: 20%;
  width: 60%;

}


