<div class="profile-component">
  <div class="profile-component-card">
    <div class="profile-component-userdata">
      <div class="profile-component-userdata-img"></div>
      <div class="profile-component-userdata-fullname">{{ users[0].fullName }}</div>
      <div class="profile-component-userdata-username">{{ users[0].userName }}</div>
    </div>
    <div class="profile-data-bottom">
      <button mat-raised-button color="primary" routerLink="/">
        sair
      </button>
    </div>
  </div>

  <div class="profile-component-posts">
    <span class="profile-component-posts-title">POSTS de fulano</span>
    <mat-list class="profile-component-post">
      <mat-list-item>
        <span matListItemTitle>Title</span>
        <span matListItemLine>Second line</span>
      </mat-list-item>
      <mat-card-content style="text-align: justify;">
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-list>
  </div>
</div>
