.frame-component {
  margin: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60vw;

  /* Debug */
  /*border: 1px solid red;*/
}

.frame-component-list {
  width: 40vw;
}

.frame-component-title {
  font-size: 35px;
  border-bottom: 2px solid rebeccapurple;

  margin-bottom: 5%;
}

.frame-component-list-card {
  /*border: 1px solid black;*/

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);

  margin: 1em;
  padding: 1em;
}

.card-header {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.card-header-title {
  /*border: 1px solid black;*/
}

.card-header-menu {
  /*border: 1px solid black;*/
}


