<div id="login-frame">

  <div class="login-frame-title">
    <span>
      Login
    </span>
  </div>

  <div class="login-frame-field">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

<!--  <div class="user-login-frame-field">-->
<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>Login</mat-label>-->
<!--      <input matInput>-->
<!--    </mat-form-field>-->
<!--  </div>-->

  <div class="login-frame-field">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div class="login-frame-button">
    <button mat-raised-button color="primary" routerLink="/">
      Login
    </button>
    <button mat-raised-button color="fill" routerLink="/user-sign-in">
      Sign In
    </button>
  </div>
</div>
