<div id="frame-component" >
  <div class="frame-component-title">
    <span>
      Recent Reviews
    </span>
  </div>

  <div id="frame-component-list">
    <mat-card *ngFor="let post of posts" class="frame-component-list-card">

      <mat-card-header>
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>{{post.gameName}} </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="frame-component-list-card-content">
        <span>{{post.text}}</span>
      </mat-card-content>

      <div  *ngIf="post.isEditing" class="frame-component-list-card-editable">

        <mat-label class="frame-component-list-card-editable-info" *ngIf="post.isEditing">
          <span class="frame-component-list-card-editable-title">
            Editar post
          </span>
          <span class="frame-component-list-card-editable-sub-title">
            Para editar, basta clicar em "Toggle", fazer alterações desejadas e por fim salvá-las clicando em "Save".
          </span>
        </mat-label>

        <div class="frame-component-list-card-editable-inputs" *ngIf="post.isEditing">
          <mat-form-field class="input-editable" appearance="outline"  *ngIf="post.isEditing">
            <mat-label>Alterar Título</mat-label>

            <input matInput [(ngModel)]="post.title">
            <mat-icon matSuffix>edit</mat-icon>
          </mat-form-field>

          <mat-form-field class="input-editable" appearance="outline"  *ngIf="post.isEditing">
            <mat-label>Alterar Jogo</mat-label>

            <input matInput [(ngModel)]="post.gameName">
            <mat-icon matSuffix>edit</mat-icon>
          </mat-form-field>

          <mat-form-field class="input-editable" appearance="outline"  *ngIf="post.isEditing">
            <mat-label>Alterar</mat-label>

            <input matInput [(ngModel)]="post.text">
            <mat-icon matSuffix>edit</mat-icon>
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="updatePost(post)">
            Save
          </button>

        </div>
      </div>

      <mat-card-actions>
        <div class="frame-component-list-card-content-buttons">
          <button mat-raised-button color="primary" (click)="toggleEdit(this.post)">Toggle
          <mat-icon>
            edit
          </mat-icon>
          </button>
          <button mat-raised-button color="primary" (click)="itemListRemove(post)">Delete</button>
        </div>
      </mat-card-actions>



    </mat-card>
  </div>
</div>
